<h3 id="universal">Angular2 Universal</h3>
<nav>
    <a [routerLink]=" ['./Home'] ">Home</a>
    <a [routerLink]=" ['./About'] ">About</a>
</nav>
<div class="hero-universal">
    <div class="inner-hero">
        <div>
            <span x-large>Universal JavaScript {{ title }}!</span>
        </div>

        Two-way binding: <input type="text" [value]="title" (input)="title = $event.target.value" autofocus>
        <br><br>

        <strong>Async data call return value:</strong>
        <pre>{{ data | json }}</pre>

        <strong>Router-outlet:</strong>
        <main>
            <router-outlet></router-outlet>
        </main>

        <blockquote>{{ server }}</blockquote>
    </div>
</div>