<h3 id="universal">Angular2 Universal</h3>
<nav>
  <a routerLinkActive="router-link-active" routerLink="home">Home</a>
  <a routerLinkActive="router-link-active" routerLink="about">About</a>
  <a routerLinkActive="router-link-active" routerLink="todo">Todo</a>
  <a routerLinkActive="router-link-active" routerLink="lazy">Lazy</a>
  <a *ngIf="!authenticated()" routerLinkActive="router-link-active" routerLink="login">Login</a>
  <a *ngIf="authenticated()" routerLinkActive="router-link-active" routerLink="profile">{{ auth.user.lastName }}, {{ auth.user.firstName }}</a>
</nav>
<div class="hero-universal">
  <div class="inner-hero">
    <div>
      <span starterXLarge>Universal JavaScript {{ title }}!</span>
    </div>

    Two-way binding: <input type="text" [value]="title" (input)="title = $event.target.value">

    <br>
    <br>

    <strong>Router-outlet:</strong>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
